<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="4.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.1-rc.94" targetFramework="net35" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.94" targetFramework="net35" developmentDependency="true" />
  <package id="UtilPack.NuGet.MSBuild" version="2.9.1" targetFramework="net35" developmentDependency="true" />
</packages>